<!DOCTYPE html>

        <head>
        
          <title> {{storyTitle}} </title>
        
	</head>

        <body>

          <header> {{storyTitle}} </header>
	  
	  <p> {{storyContent}} </p>

	   <form action="/update" method="post">
        {{hasUpdate|safe}}
        {{update|safe}}
        <input type="hidden" name="id" value="{{storyID}}">
        <input type="hidden" name="content" value="{{storyContent}}">
        <br>
        <br>
      {{form|safe}}
        
    </form>


        </body>

</html>












