<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoom level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">
<title> A Better Blog </title>




<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<style>
.jumbotron{
    background-color:#2E2D88;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>

</head>


<div class="page-header">
<h1>Welcome to the Blog-hamas!</h1>
</div> 

  
  <body>
    <br>
    <a href=/logout> Logout </a>
    
    <header> Stories </header>
    <br>
    <br>
    
    <header> Stories You've Contributed To </header>
    <p>
      {{storyTitles}}
    </p>
    
    <header> Stories You've Yet To Contribute To </header>
    
    <p>
      {{nstoryTitles}}
    </p>
    <br>
    <a href=/add> Add New Story </a>
    
  </body>
  
  
</html>


